{% extends "university_template.html" %}
{% load mtstatic %}
{% load bootstrap3 %}


{% comment "Optional note" %}
{% block navi %}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
                <li role="presentation" class="{% ifequal request.path 'login/'%} active {% endifequal%}"><a href="{% url "login" %}">Login</a></li>
                <li role="presentation"><a href="BlaBla">BlaBla</a></li>
                <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">FH Brandenburg</h3>
    </div>
{% endblock %}
{% endcomment %}


{% block content %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="{% url 'u_login' %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>


{% endblock %}

