{% load mtstatic %}
{% load has_group %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% block icon %}
        <link rel="icon" href="../../favicon.ico">
    {% endblock %}

    {% block title %}
        <title>FH Brandenburg</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% mtstatic 'css/custom.css' %}" rel="stylesheet">
</head>

<body>

<div class="container">

    {% block navi %}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{% url 'u_index' %}">Home</a></li>


                {% if user|has_group:"professors" %}
                    <li role="presentation"><a href="{% url 'give_marks' %}">Note vergeben</a></li>
                {% endif %}

                {% if user|has_group:"students" %}
                    <li role="presentation"><a href="{% url 'show_marks' %}">Notenansicht</a></li>
                {% endif %}



                {% if user.is_authenticated %}
                    <li role="presentation"><a href="{% url 'u_logout' %}">Logout</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'u_login' %}">Login</a></li>
                {% endif %}


            </ul>
        </nav>
        <h3 class="text-muted">FH Brandenburg</h3> <img src="{% mtstatic 'TestLogo.jpg'%}" alt=""/>
    </div>
    {% endblock %}

    {% block content %}


        <div class="jumbotron">
            <h1>Jumbotron heading</h1>

            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

            <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>

                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>

                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                    fermentum.</p>

                <h4>Subheading</h4>

                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h4>Subheading</h4>

                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>

                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                    fermentum.</p>

                <h4>Subheading</h4>

                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
    {% endblock %}

    <footer class="footer">
        <p>&copy; Company 2015</p>
    </footer>

</div>
<!-- /container -->

</body>
</html>
