/*Login styles*/

.login {
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.login .loginBtn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #fafafa;
}