#container {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.logoutBtn {
    color: #cf0008 !important;
}

.logoutBtn:hover {
    color: #a30008 !important;
}

@media (max-width: 768px) {
    #container {
        padding-left: 5%;
        padding-right: 5%;
    }
}