/* A Free Design by Bryant Smith (bryantsmith.com) */

.row1 {
    background-color: #67A0F5;
    color: #ffffff !important;
    padding: 5px;
    border-spacing: 0;
    text-decoration: none;
}

.row2 {
    background-color: #ffffff;
    color: #67A0F5 !important;
    padding: 5px;
    border-spacing: 0;
    text-decoration: none;
}

.defaultTable {
    border-spacing:0;
    border: 0;
}

.defaultTable tr:nth-child(odd){ background-color:#67A0F5; }
.defaultTable tr:nth-child(even){ background-color:#ffffff; }

.defaultTableEntry {
    padding: 10px;
    width: 100%;
}

.defaultTableIcon{

}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #061C37;
    background: #EEEFE4 url(../mtadmin-background.png) repeat-x;
}

* {
    margin: 0 auto 0 auto;
    text-align: left;
}

#container {
    display: block;
    height: auto;
    position: relative;
    width: 960px;
}

#header {
    height: 85px;
    width: 960px;
}

#header h1 {
    position: absolute;
    text-align: left;
    color: #FFFFFF;
    font-size: 43px;
    left: 14px;
    top: 18px;
}

#header h2 {
    position: absolute;
    text-align: right;
    color: #A9D1FA;
    left: 490px;
    top: 38px;
    width: 400px;
}

.off {
    color: #67A0F5;
}

#menu {
    display: block;
    float: left;
    clear: both;
    width: 960px;
    height: 54px;
}

#leftmenu {
    margin-top: 15px;
    width: 204px;
    float: left;
}

#leftmenu_top {
    width: 204px;
    height: 14px;
    background-image: url(../mtadmin_leftmenu_top.png);
}

#leftmenu_bottom {
    width: 204px;
    height: 14px;
    background-image: url(../mtadmin_leftmenu_bottom.png);
}

#leftmenu_main {
    width: 204px;
    height: auto;
    background-color: #1C478E;
}

#leftmenu_main ul {
    list-style: none;
    padding: 0px;
    width: 204px;
}

#leftmenu_main h3 {
    list-style: none;
    width: 204px;
    color: #FFFFFF;
    padding: 0 0 14px 10px;
}

#leftmenu_main ul li {
    list-style: none;
    padding: 0px;
    width: 204px;
    text-align: left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited {
    display: block;
    list-style: none;
    width: 192px;
    padding: 4px 0 0 12px;
    height: 30px;
    text-align: left;
    background: url(../mtadmin_leftmenu_link.png) repeat-x;
    margin-top: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#leftmenu_main ul li a:hover {
    color: #87BCF8;

}

#content {
    display: block;
    float: left;
    width: 689px;
    height: auto;
    padding: 15px 10px 5px;
}

#content_top {
    background: url(../mtadmin_main_top.png) no-repeat;
    width: 689px;
    height: 25px;
}

#content_main {
    background: url(../mtadmin_main_back.png) repeat-y;
    width: 659px;
    padding-left: 15px;
    padding-right: 15px;
}

#content_bottom {
    background: url(../mtadmin_main_bottom.png) no-repeat;
    width: 689px;
    height: 25px;
}

#footer {
    width: inherit;
    height: auto;
}

#footer h3 a, #footer h3 a:visited {
    display: inline;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #7198E1;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
    width: 960px;
}

#menu li {
    list-style: none;
    padding: 0;
    display: inline;

}

#menu a {
    float: left;
    height: 36px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding-top: 18px;
    font-size: 15px;
    padding-left: 13px;
    padding-right: 13px;

}

#menu a:hover {
    color: #86AEF9;
    background: url(../mtadmin_linkbackground.jpg) repeat-x;
}

#content p {

}

html, body {
    text-align: center;
}

p {
    text-align: left;
}

a {
    text-decoration: none;
}