{% extends "mtadmin_skeleton.html" %}
{% load i18n %}
{% load group_filter %}

{% block content %}
    <h1>{% trans 'User' %} <a href="{% url 'createUser' %}"><span title="{% trans "Create an instance administrator" %}"
                                                                  class="glyphicon glyphicon-plus-sign"
                                                                  aria-hidden="true"></span></a></h1><br>
    {% if adminList %}
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Created' %}</th>
                    <th>{% trans 'Last login' %}</th>
                    <th>{% trans 'Is System Administrator' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in adminList %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>
                             {% if user|is_sadmin %}
                                <a href="{% url 'changeUserPermission' user.id %}">{% trans 'Yes' %}</a>
                            {% else %}
                                <a href="{% url 'changeUserPermission' user.id %}">{% trans 'No' %}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'changeUserPassword' user.id %}"><span title="{% trans 'Change password'%}"
                                                                                   class="glyphicon glyphicon-pencil"
                                                                                   aria-hidden="true"></span></a>
                            <a href="{% url 'deleteUser' user.id %}"><span title="{% trans "Delete" %}"
                                                                           class="glyphicon glyphicon-trash"
                                                                           aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    {% else %}
        <h2>{% trans 'No user available' %} </h2>
    {% endif %}
{% endblock %}
