{% extends "mtadmin_skeleton.html" %}
{% load i18n %}

{% block content %}
    <h1>Tenants <a href="{% url 'createTenant' %}"><span title="{% trans 'Add tenant'%}"
                                                         class="glyphicon glyphicon-plus-sign"
                                                         aria-hidden="true"></span></a></h1><br>
    {% if tenant_list %}
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Active' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for tenant in tenant_list %}
                    <tr>
                        <td>{{ tenant.name }}</td>
                        <td>{{ tenant.email }}</td>
                        <td>{{ tenant.active }}</td>
                        <td>
                            <a href="{% url 'changeTenant' tenant.id %}"><span title="{% trans 'Edit'%}"
                                                                             class="glyphicon glyphicon-pencil"
                                                                             aria-hidden="true"></span></a>
                            <a href="{% url 'getDomains' tenant.id %}"><span title="{% trans 'Edit associated domains'%}"
                                                                             class="glyphicon glyphicon-globe"></span></a>
                            <a href="{% url 'modDBConn' tenant.id %}"><span title="{% trans 'Modify DB config'%}"
                                                                             class="glyphicon glyphicon-hdd"></span></a>
                             <a href="{% url 'deleteTenant' tenant.id %}"><span title="{% trans 'Delete'%}"
                                                                             class="glyphicon glyphicon-trash"
                                                                             aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <h2>{% trans 'No tenants available'%} </h2>
    {% endif %}
{% endblock %}