{% extends "mtadmin_skeleton.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <h2>{% trans "Create Domain" %}</h2>
    <ol class="breadcrumb">
        <li><a href="{% url 'getTenants' %}">{% trans 'Tenants' %}</a></li>
        <li><a href="{% url 'getDomains' tenant_id %}">{% trans 'Domains' %}</a></li>
        <li class="active">{% trans "Create Domain" %}</li>
    </ol>

    <form action="{% url 'createDomain' tenant_id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <div class="loginBtn">
                <button type="submit" class="btn btn-primary"> {% trans "Save" %}</button>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}
