{% extends "mtadmin_skeleton.html" %}
{% load i18n %}

{% block content %}
    <h1>Domains <a href="{% url 'createDomain' tenant_id %}"><span title="{% trans 'Add a domain' %}"
                                                                   class="glyphicon glyphicon-plus-sign"
                                                                   aria-hidden="true"></span></a></h1><br>
    <ol class="breadcrumb">
        <li><a href="{% url 'getTenants' %}">{% trans 'Tenants' %}</a></li>
        <li class="active">{% trans "Domains" %}</li>
    </ol>

    {% if domain_list %}
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in domain_list %}
                    <tr>
                        <td>{{ domain.name }}</td>
                        <td>
                                <span title="{% trans 'Change Name'%}"
                                      class="glyphicon glyphicon-pencil"
                                      aria-hidden="true"></span>
                            <a href="{% url 'deleteDomain' user.id %}"><span title="{% trans 'Delete'%}"
                                                                             class="glyphicon glyphicon-trash"
                                                                             aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <h2>{% trans 'No domains available'%}</h2>
    {% endif %}
{% endblock %}
