{% extends "mtadmin_skeleton.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ title }}</h2>
    <form action="{% url sendUrl param %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons%}
            <p>
                <button type="submit" class="btn btn-primary"> {% trans "Save" %}</button>
                <button formaction="{% url 'getUserList' %}" class="btn"> {% trans "Cancel" %}</button>
            </p>
        {% endbuttons %}
    </form>
{% endblock %}