{% load i18n %}
{% load static %}
{% load group_filter %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!Doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{% static 'css/mtAdmin_login.css' %}"/>
    <title>{% trans "MTDjango - Login" %}</title>
</head>
<body>

<div class="login">


    <div class="panel panel-default">
        <div class="panel-heading">
            <b>mtAdmin - Login</b>
        </div>

        <div class="panel-body">
            {% if login_failed %}
                <div class="alert alert-danger" role="alert">
                    <strong>{% trans "Error" %}</strong> {% trans "You entered wrong credentials." %}
                </div>
            {% endif %}
            <form action="{% url 'login' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <div class="loginBtn">
                        <button type="submit" class="btn btn-primary"> {% trans "Login" %}</button>
                    </div>
                {% endbuttons %}
            </form>
        </div>

    </div>
</div>


</body>
</html>
