{% load i18n %}
{% load static %}
{% load group_filter %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!Doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mtAdmin_style_new.css' %}"/>

    {#    <style type="text/css" media="screen">#}
    {#        #editor {#}
    {#            min-width: 400px;#}
    {#            min-height: 300px;#}
    {#            position: relative;#}
    {#        }#}
    {#    </style>#}
    {#    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript"#}
    {#            charset="utf-8"></script>#}
    <title>{% trans "MTDjango - Adminarea" %}</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-div">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">{% trans "Administrator" %}-{% trans "Webinterface" %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-div">
            <ul class="nav navbar-nav navbar-right">
                {% if user|is_iadmin %}
                    <li><a href="{% url 'getFileList' '/' %}">{% trans "Files" %}</a></li>
                {% endif %}
                {% if user|is_sadmin %}
                    <li><a href="{% url 'getUserList' %}">{% trans "User" %}</a></li>
                    <li><a href="{% url 'getTenants' %}">{% trans "Tenants" %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.id %}">{% trans "Profil" %}</a></li>
                    <li><a class="logoutBtn" href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="container">
    <div id="content">
        <div id="content_main">
            {% block content %}{% endblock %}
        </div>
        {#        <div id="footer"><h3><a href="https://github.com/FHBrandenburg/MTDjango">MtDjango</a></h3></div>#}
    </div>

    <div id="leftmenu">
        <div id="leftmenu_main">
            <ul>
                {% block navi %}{% endblock %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>

