{% extends "mtadmin_skeleton.html" %}
{% load i18n %}
{% load group_filter %}
{% load bootstrap3 %}

{% block content %}
    <h1>{% trans 'Files' %}
        {% if not isRoot %}
            <a href="{% url 'uploadFile' path %}">
            <span title="{% trans 'File upload' %}"
                  class="glyphicon glyphicon-file"
                  aria-hidden="true"></span>
            </a>

            <a href="{% url 'createDir' path %}">
            <span title="{% trans 'Create folder'%}"
                  class="glyphicon glyphicon-folder-open"
                  aria-hidden="true"></span>
            </a>
        {% endif %}
    </h1><br>

    <ol class="breadcrumb">
        {% if breadcrumbs %}
            <li><a href="{% url 'getFileList' actualTenant.id '/' %}">root</a></li>
            {% for breadcrumb in breadcrumbs %}
                {% if not breadcrumb.active %}
                    <li><a href="{% url 'getFileList' actualTenant.id breadcrumb.path %}">{{ breadcrumb.name }}</a></li>
                {% else %}
                    <li class="active">{{ breadcrumb.name }}</li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="active">root</li>
        {% endif %}
    </ol>
    {% if user|is_sadmin and userTenants %}

        <div class="dropdown">
            {% trans 'Select tenant'%}
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="true">
                {{ actualTenant.name }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {% for tenant in userTenants %}
                    {% if actualTenant != tenant %}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{% url  'getFileList' tenant.id os.sep %}">{{ tenant.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if file or dir %}
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Name'%}</th>
                    <th>{% trans 'Actions'%}</th>
                </tr>
                </thead>
                <tbody>
                {% if dir %}
                    {% for key in dir %}
                        {% with path|add:'/'|add:key as dirPath %}
                            <tr>
                                <td><a href="{% url  'getFileList' actualTenant.id dirPath %}"><span
                                        class="glyphicon glyphicon-folder-close"
                                        aria-hidden="true"></span> {{ key }}</a></td>
                                <td>
                                    {% if not isRoot %}
                                        <a href="{% url 'renameDir'  actualTenant.id dirPath %}"><span title="{% trans "Edit" %}"
                                                                                                       class="glyphicon glyphicon-pencil"
                                                                                                       aria-hidden="true"></span></a>
                                        <a href="{% url 'deleteDir'  actualTenant.id dirPath %}"><span title="{% trans "Delete" %}"
                                                                                                       class="glyphicon glyphicon-trash"
                                                                                                       aria-hidden="true"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                {% endif %}
                {% if file %}
                    {% for key in file %}
                        {% with path|add:'/'|add:key as filePath %}
                            <tr>
                                <td><span title="{% trans "Create folder" %}"
                                          class="glyphicon glyphicon-file"
                                          aria-hidden="true"></span> {{ key }}</td>
                                <td>
                                    {% if not isRoot %}
                                        <a href="{% url 'renameFile'  actualTenant.id filePath %}"><span title="{% trans "Edit" %}"
                                                                                                         class="glyphicon glyphicon-pencil"
                                                                                                         aria-hidden="true"></span></a>
                                        <a href="{% url 'deleteFile'  actualTenant.id filePath %}"><span title="{% trans "Delete" %}"
                                                                                                         class="glyphicon glyphicon-trash"
                                                                                                         aria-hidden="true"></span></a>
                                    {% endif %}

                                    {% if ".py" in key %}
                                        <a href="{% url 'refreshInstance'  actualTenant.id filePath%}"><span title="{% trans "Refresh instance" %}"
                                                                                                         class="glyphicon glyphicon-refresh"
                                                                                                         aria-hidden="true"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h2>{% trans 'No files found'%} </h2>
    {% endif %}
{% endblock %}