{% extends "mtadmin_skeleton.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ title }}</h2>
    <form action="{% url uploadUrl path %}" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <div class="loginBtn">
                <button type="submit" class="btn btn-primary"> {% trans "Save" %}</button>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}