{% extends "mtadmin_skeleton.html" %}
{% load i18n %}
{% block content %}

    <h2>{% trans "Edit template" %}</h2><br>
    <div id="editor">{{ entry }}</div>
    <form name="myform" action="{% url 'saveTemplate' path %}" method="post">{% csrf_token %}
            <textarea name="template" rows="20" cols="70" hidden="hidden">{{ entry }}
            </textarea>


        <input type="submit" value="{% trans "Save" %}"/>


        <script>

            var editor = ace.edit("editor");
            editor.getSession().setMode("ace/mode/html");
            document.myform.template.value = '';


            editor.getSession().on("change", function () {
                document.myform.template.value = editor.getSession().getValue();
            });

        </script>

    </form>
{% endblock %}